<div><%= flash[:notice] %></div>
<div class="container ">
  <div class="row">
     <div class="col-md-3">
      <%= render 'info', book: @book, user: @user %>
     </div>
     <div class="col-md-8 offset-md-1">
       <h2>Book detail</h2>
       <table class="table">
        <% @books.each do |book| %>
        <tbody>
         <tr>
          <td><%= image_tag @user.get_profile_image(200,200) %><br>
              <%= link_to user_path(1) do %>
              <%= @user.name %></td>
              <% end %>
          <td><%= link_to user_path(@user.id) do %>
              <%= book.title %>
              <% end %>
          </td>
          <td><%= book.body %></td>
           <% if @user == current_user %>
             <td><%= link_to "Edit", edit_book_path(book.id), class:"btn btn-sm btn-success" %></td>
             <td><%= link_to "Destroy", book_path(book.id),method: :delete, "data-confirm" =>"本当に消しますか?", class:"btn btn-sm btn-danger" %></td>
           <% end %>
         </tr>
        <% end %>
        </tbody>
       </table>
      </div>
  </div>
</div>
